<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css">
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>

<!--    <script>-->
<!--        function signup() {-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/user/signup",-->
<!--                contentType: "application/json",-->
<!--                data: JSON.stringify({-->
<!--                    username: $('#input-username').val(),-->
<!--                    password: $('#input-password').val(),-->
<!--                    confirm_password: $('#input-confirm-password').val()-->
<!--                }),-->
<!--                success: function (response){-->
<!--                    console.log(response);-->
<!--                }-->
<!--            })-->
<!--        }-->
<!--    </script>-->

</head>
<body>
<form action="/user/signup", method="post">
<div id="login-form">
    <div id="login-title">Sign up Hanhae Blog</div>

    <div class="login-id-label">Username</div>
    <input type="text" name="username" placeholder="Username" class="login-input-box" id="input-username">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" class="login-input-box" placeholder="password" id="input-password">

    <div class="login-id-label">Confirm_Password</div>
    <input type="password" name="confirm_password" placeholder="confirm_password" class="login-input-box" id="input-confirm-password">

    <button id="login-id-submit" onclick="">회원 가입</button>
</div>
</form>

</body>
</html>